@import url("/assets/css/types.css");

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon .number {
  color: #000000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0px;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0px;
  font-size: 0.625rem;
  color: #ffffff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

.detailExpand {
  display: none;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1366px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
  .pokemon {
    margin: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    width: 450px;
    height: 700px;
    position: relative;
  }
  .pokemon .number {
    font-size: 2rem;
  }
  .pokemon .name {
    margin-bottom: 0px;
    font-size: 2rem;
    position: absolute;
  }
  .pokemon .types {
    display: flex;
    gap: 1rem;
  }
  .pokemon .detail .types .type {
    color: #ffffff;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .pokemon .detail img {
    height: 250px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    z-index: 2;
  }
  .pagination button {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0px;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  .pagination button:hover {
    filter: brightness(0.85);
    transition: 0.25s;
  }
  .detailExpand {
    background-color: #ffffff;
    border-radius: 1.8rem;
    height: 340px;
    width: 452px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    bottom: -1px;
    left: -1px;
    filter: brightness(0.99);
    padding: 4rem;
    list-style: none;
  }
  .detailExpand li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .detailExpand li div {
    display: flex;
    gap: 1rem;
  }
  .detailExpand li p {
    margin: 0px;
  }
}
